<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> 404 page ||  Pain Charity</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Style Sheets-->
        <link rel="apple-touch-icon" href="apple-touch-icon.png"> 
        <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Arimo:400,700|Poppins:300,400,500,600,700" rel="stylesheet"> 
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <link rel="stylesheet" href="css/font-awesome.min.css"> 
        <link rel="stylesheet" href="../../fonts/flaticon.css">
        <link rel="stylesheet" href="css/style.css">  
        <link rel="stylesheet" href="css/odometer-theme-car.css">  
        <link rel="stylesheet" href="css/swiper.min.css">  
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/responsive.css">
        <link rel="stylesheet" href="css/color.css">
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="xp-wrapper">
            <div class="xp-404-error" data-parallax="scroll" data-image-src="images/404-img.jpg">
                <div class="xp-ovrlay"></div>
                <div class="xp-404-error-main">
                    <div class="child-pernt">
                        <div class="child">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="xp-404-error-inner">
                                            <div class="xp-contant-404">
                                                <img src="images/404-img.png" alt="" />
                                            </div>
                                            <div class="xp-text-box">
                                                <h3><span>Ooops,</span> Page Not Found</h3>
                                                <p>We Can't Seem to find the page you're looking for.</p>
                                                <a class="btn" href="index.html">Back To Home</a>
                                            </div>
                                            <div class="xp-search">
                                                <form action="">
                                                    <input type="search" name="" placeholder="Enter Your Keyword">
                                                    <input type="submit" class="fa" value="&#xf002;">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/vendor/jquery.js"></script>
        <script src="js/vendor/jquery-ui.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/jquery.appear.js"></script>
        <script src="js/vendor/isotope.pkgd.js"></script>
        <script src="js/vendor/parallax.min.js"></script>
        <script src="js/vendor/odometer.js"></script>
        <script src="js/vendor/owl.carousel.min.js"></script>
        <script src="js/vendor/jquery.countdown.min.js"></script>
        <script src="js/vendor/jquery.countdownTimer.min.js"></script>
        <script src="js/vendor/swiper.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
